
ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.sidebar {
    display: block;
    width: 150px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
}
